*/data
*/models/*
*.npy
*.pyc
*/__cache__/*
Experiments/__pycache__/*
*pycache*
Experiments/__pycache__/Model.cpython-310.pyc
*/Experiments/__pycache__/Model.cpython-310.pyc
*.cpython-310*
*/neat-checkpoint*
Experiments/videos/*

*.svg
*.gv
.DS_STORE
*.html
